.page-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.form-container {
  background-color: #fff;
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 550px;
}

form h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #2c3e50;
  font-weight: 600;
}

.input-group {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.input-group .input-label {
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  margin-bottom: 0.4rem;;
}

.input-group input::placeholder {
  color: #aaa;
}

.input-group input:focus {
  outline: none;
  border-color: #8e44ad;
  box-shadow: 0 0 8px rgba(142, 68, 1732, 0.2);
}

.input-error {
  color: #b22222;
  font-size: 0.85rem;
  margin-top: 0;
}

button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #8e44ad;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3 ease-in-out;
  margin-top: 1rem;
}

button:hover {
  background-color: #732d91;
}